# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno virtual
venv/
.env/
*.venv
pip-log.txt
pip-delete-this-directory.txt

# Configuración del editor
.vscode/
.idea/
*.swp
*~

# Archivos de caché y temporales
*.tmp
*.bak
.DS_Store

# Reportes de pruebas
.pytest_cache/
.coverage
build/
dist/
tetris.spec
